


<div class="card toprint mt-2">
    <div class="card-header bg-black"></div>
    <div class="card-body">
        <div class="container">
            <div class="row ">
                <div class="col-8 col-sm-8 col-md-8">
                    <div class="row justify-content-center">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 text-center my-auto">
                        <img src="~/img/mandaue_city_college_logo.jpg" class="rounded img-fluid" alt="Republic of the Philippines logo" style="width:80px; height:80px;">
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 my-auto">
                        <h3 class="text-uppercase mt-3" style="font-size: 1.3rem; font-family:'Times New Roman'; line-height:50%;">MANDAUE CITY COLLEGE</h3>
                        <h5 class="text-uppercase mt-3" style="font-size: 0.8rem; font-family:'Times New Roman'; line-height:50%;">Mandaue City Cultural and Sports Complex</h5>
                        <h4 class="text-uppercase mt-3" style="font-size: 0.8rem; font-family:'Times New Roman'; line-height:50%;">Don Andres Soriano Ave., Centro, Mandaue City</h4>
                        <h3 class="text-uppercase mt-3" style="font-size: 0.8rem; font-family:'Times New Roman'; line-height:50%;">Telephone No.: (032)420-9228</h3>
                    </div>
                    </div>
                </div>
           
                <div class="col-4 col-sm-4 col-md-4">
                    <div class="row">
                        <div class="col-12 col-xl-12">
                            <label class="d-inline">Date: </label> <span class="enrollmentDate">12/16/2022</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xl-12">
                            <label class="d-inline">SY Sem: </label> <span class="schoolYear">S.Y. 2022-2022</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-xl-12">
                            <label class="d-inline">Sem: </label> <span class="semester">Second Semester</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-xl-12">
                            <label class="d-inline">Enrollment No: </label> <span class="enrollmentNo">09340930</span>
                        </div>
                    </div>
                    
                </div>
               
            </div>

            <div class="row justify-content-between mt-5">
               
            </div>

            <div class="row">
                <div class="col-12 col-xl-12 text-center">
                    <label class="fw-bold">Study Load </label>
                </div>
                <div class="col-6 col-xl-6">
                    <label class="d-inline">Course: </label> <span class="course">BSIT</span>
                </div>
                 <div class="col-6 col-xl-6">
                    <label class="d-inline">Major: </label> <span class="major">InfoTech</span>
                </div>
                 <div class="col-6 col-xl-6">
                    <label class="d-inline">Name: </label> <span class="studentName">Waelhi Delikado</span>
                </div>
                <div class="col-6 col-xl-6">
                    <label class="d-inline  ">Year: </label> <span class="year">1st Year</span>
                </div>
            </div>

            <div class="row mx-3 text-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">EDP Code</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Room</th>
                            <th scope="col">Day</th>
                            <th scope="col">Time Start</th>
                            <th scope="col">Time End</th>
                            <th scope="col">Units</th>
                            <th scope="col">Instructor Sign</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>IT10423213</td>
                            <td>Programming 1</td>
                            <td>Computer Lab</td>
                            <td>MWF</td>
                            <td>03:00 PM</td>
                            <td>05:00 PM</td>
                            <td>Programming 1</td>
                            <td>Programming 1</td>
                        </tr>
                        <tr>
                            <td>IT10423213</td>
                            <td>Programming 1</td>
                            <td>Computer Lab</td>
                            <td>MWF</td>
                            <td>03:00 PM</td>
                            <td>05:00 PM</td>
                            <td>Programming 1</td>
                            <td>Programming 1</td>
                        </tr>
                        <tr>
                            <td>IT10423213</td>
                            <td>Programming 1</td>
                            <td>Computer Lab</td>
                            <td>MWF</td>
                            <td>03:00 PM</td>
                            <td>05:00 PM</td>
                            <td>Programming 1</td>
                            <td>Programming 1</td>
                        </tr>
                        <tr>
                            <td>IT10423213</td>
                            <td>Programming 1</td>
                            <td>Computer Lab</td>
                            <td>MWF</td>
                            <td>03:00 PM</td>
                            <td>05:00 PM</td>
                            <td>Programming 1</td>
                            <td>Programming 1</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    
                </div>               
            </div>



            <div class="row mt-5 mb-5">
                <div class="col-6 text-center"> <p class="fw-bold d-inline" style="border-top: 2px solid black;">COLLECTION OFFICER</p></div>
                <div class="col-6 text-center"> <p class="fw-bold d-inline" style="border-top: 2px solid black;">City Treasurer</p></div>
            </div>

        </div>
    </div>
    <div class="col-12"><button type="button" class="btn btn-success no-print" id="printButton">Print</button></div>
    <div class="card-footer bg-black"></div>
</div>


<script>
    $("#printButton").on('click', function () {
        $(".toprint").print({
            noPrintSelector: ".no-print",
        });
    });
</script>